:host {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    input {
        background-color: var(--fillColorPrimary);
        color: white;
        border: none;
        border-radius: 0.8rem;
        padding: 1rem;
        // display: block;
        -webkit-appearance: none;
        flex: 1;
        text-align: center;
    }
    .unit {
        flex: 0.1;
    }
}