:host {
    display: flex;
    flex-direction: column;
    background-color: var(--fillColorSecondary);
    .tab-header {
        padding: 1rem 1.5rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
        font-weight: bold;
    }
    .tab-content {
        flex: 1;
        margin: 1rem;
        padding: 1rem;
        background-color: var(--fillBgColor);
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        .settings-container {
            &.sub {
                padding: 1rem;
                width: auto;
            }
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            width: 100%;
            .index {
                font-size: 1.2rem;
                font-weight: bold;
            }
            .setting-container {
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;
                .setting {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    column-gap: 1rem;
                    input {
                        background-color: #001f5e;
                        color: white;
                        border: none;
                        border-radius: 0.8rem;
                        padding: 1rem;
                        display: block;
                        -webkit-appearance: none;
                        flex: 1;
                        box-sizing: border-box;
                        width: 80%;
                    }
                }
                .setting-title {
                    font-size: 1rem;
                }
                .initialization-setting {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    column-gap: 1rem;
                    .level {
                        font-weight: bold;
                    }
                    input {
                        background-color: #001f5e;
                        color: white;
                        border: none;
                        border-radius: 0.8rem;
                        padding: 0.5rem;
                        display: block;
                        -webkit-appearance: none;
                        box-sizing: border-box;
                        width: 2rem;
                        flex: 1;
                    }
                    input[type="number"] {
                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        // Hide Firefox up and down arrows
                        &[type="number"] {
                            -moz-appearance: textfield;
                        }

                        // Hide IE 11 up and down arrows
                        &[type="number"] {
                            -ms-inner-appearance: none;
                        }
                    }
                }
                select {
                    width: 100%;
                    background-color: #001f5e;
                    color: white;
                    border: none;
                    border-radius: 0.8rem;
                    padding: 1rem;
                    display: block;
                    -webkit-appearance: none;
                    box-sizing: border-box;
                }
            }
        }
    }
}